h1 {
  font-size: 56px;
  margin-bottom: -6px;
  color:#52057b;
}

h6#time {
  font-size: 20px;
  padding-top: 54px;
  padding-right: 10px;
  font-family: "Source Code Pro", monospace;
  color: #52057b;
}
input[type="search"] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 42px;
  outline: 0;
  padding: 10px;
  width: 240px;
}
p{
  color: #52057b;
}
p:first-letter {
  text-transform: capitalize;
}
small {
  display: block;
  opacity: 0.6;
}

.weather-container {
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 20px 0 4px 0;
  max-width: 600px;
  padding: 10px 20px 30px 26px;
  font-family: "Roboto", sans-serif;
}

.weather-summary {
  color: #52057b
  margin-top: 16px;
}

.city-search {
  margin-top: 10px;
}
.aditional-description {
  color: #52057b;
  float: right;
  margin-top: -110px;
  margin-right: 70px;
}

.week {
  display: flex;
  border: 1px solid #52057b;
  border-radius: 4px;
  margin-bottom: 1px;
  padding-right: 4px;
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#hour-forecast {
  float: right;
  max-width: 280px;
  color: #52057b;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#forecast-temp {
  font-size: 14px;
  margin-top: 4px;
  margin-left: 12px;
  color: #c060a1;
}
#forecast-day {
  font-size: 12px;
  margin-left: 12px;
  margin-top: 4px;
  text-align: right;
}

#forecast-icon {
  width: 28px;
  height: 28px;
}

#degree-buttons {
  float: left;
  right: 0;
  margin-top: 10px;
  margin-right: 16px;
}

#current-location {
  height: 34px;
  width: 36px;
  background: none;
  border-radius: 4px;
  border: 1px solid #52057b;
}
#current-location:hover {
  background-color: #52057b;
}

#celsius {
  height: 34px;
  width: 36px;
}
#celsius:hover {
  background-color: #52057b;
}
#fahrenheit {
  height: 34px;
  width: 36px;
}
#fahrenheit:hover {
  background-color: #52057b;
}
#search-button {
  height: 42px;
  color: #ffffff;
  background-color: #52057b;
  border-radius: 2px;
  width: 80px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#icon {
  font-size: 58px;
  float: left;
  margin-top: -20px;
  margin-right: -10px;
}
#temp {
  font-size: 56px;
  padding-top: 28px;
  color: #c060a1;
}
#humidity {
  font-size: 16px;
}
#wind {
  font-size: 16px;
}
