h1 {
  font-size: 56px;
  margin-bottom: -6px;
}
h6 {
  padding-top: 36px;
  padding-right: 10px;
  font-family: "Source Code Pro", monospace;
  color: #5d54a4;
  display: inline-block;
}
input[type="search"] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 42px;
  outline: 0;
  padding: 10px;
  width: 300px;
}
p:first-letter {
  text-transform: capitalize;
}
footer {
  opacity: 0.6;
}

.weather-container {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 20px 0 4px 0;
  max-width: 600px;
  padding: 20px 20px 20px 26px;
  font-family: "Roboto", sans-serif;
}

.weather-summary {
  color: #5d54a4;
  margin-top: 16px;
}
.city-search {
  margin-top: 10px;
}
.aditional-description {
  color: #5d54a4;
  float: right;
  margin-top: -120px;
}
.weather-week {
  margin-top: 48px;
  margin-left: 1px;
  color: #5d54a4;
}
.forecast-emoji {
  float: left;
  font-size: 32px;
  margin-top: -20px;
}
.forecast-temp {
  font-size: 30px;
  text-align: right;
}
.forecast-day {
  font-size: 12px;
  margin-left: 10px;
}

#current-location {
  height: 28px;
  color: #ffffff;
  background-color: #5d54a4;
  border-radius: 2px;
  width: 32px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#degree-buttons {
  float: right;
  right: 0;
  margin-top: 20px;
}

#search-button {
  height: 42px;
  color: #ffffff;
  background-color: #5d54a4;
  border-radius: 2px;
  width: 80px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#icon {
  font-size: 58px;
  float: left;
  margin-top: -20px;
  margin-right: -10px;
}
#temp {
  font-size: 60px;
  padding-top: 28px;
  color: #d789d7;
}

#time {
  font-size: 20px;
}
